* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.section-h1 {
    padding: 30px;
}

.dev,
.futuro {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.dev {
    color: #1971C2;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: #D0EBFF;
}

.header-list {
    display: flex;
    list-style: none;
}

.header-list>li {
    font-weight: 400;
    color: #1971C2;
    padding: 10px;
    opacity: 0.7;
}

.header-list>li:hover {
    font-weight: 700;
    opacity: 1;
    border-bottom: #1971C2 1px solid;
}



.header>button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;

    color: #1971C2;

    width: 209px;
    height: 50px;
    left: 123px;
    top: 435px;

    background: #D0EBFF;
    border-radius: 40px;
    border: #1971C2 1px solid;
}

/* HERO SECTION */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 20px;
    width: 100%;
    background: #D0EBFF;
    height: 600px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;
    width: 50%;
    gap: 20px;
}

.hero-left>button {
    color: #ffffff;

    width: 209px;
    height: 50px;
    left: 123px;
    top: 435px;

    background: #1971C2;
    border-radius: 40px;
    border: none;
}

.hero-left>h2 {
    margin-bottom: 16px;
    font-size: 14px;
}

.hero-left>h1 {
    margin-bottom: 24px;
    font-size: 52px;
    font-weight: 700;
}

.hero-left>p {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
}

.hero-img {
    width: 50%;
    height: 100%;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-list {
    background: #FFFFFF;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    list-style: none;
    width: 80%;
    border-radius: 6px;
}

.list-divider {
    width: 83px;
    height: 0px;
    left: 893px;
    top: 634px;
    opacity: 0.5;
    border: 1px solid #1971C2;
    transform: rotate(90deg);

}

.info-list>li {
    text-align: center;
}

.info-list>li>h1 {
    font-size: 48px;
}

.info-list>li>span {
    font-size: 16px;
    color: #1971C2;
}

/* SERVICOS SECTION */
.servicos-section {
    margin-top: -120px;
    height: 1082px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.servicos-title>h2 {
    color: #1971C2;
    font-size: 14px;
    margin-bottom: 16px;
}

.servicos-title>h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

.servicos-title {
    margin-top: 263px;
    text-align: center;
}

.service-boxes {
    margin: 0 auto;
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    gap: 16px;
}

.box {
    width: 347px;
    height: 207px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 6px;
    background: #ffffff;
}

/* DEPOIMENTOS SECTION */

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos-boxes {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    border: 0;
}

.depoimento-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 32px;
    width: 544px;
    height: 273px;
    left: 700px;
    top: 361px;

    background: #f0f9ff;
    border-radius: 4px;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.avatar-photo {
    width: 42px;
    height: 42px;
    margin-right: 16px;
}

.aspas-img {
    width: 45px;
    height: 31px;
}

/* EMPRESAS */
.empresas {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empresas>h1 {
    text-align: center;
}

.empresas-logo>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.empresa {
    padding: 40px;
}

.empresas-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 1121px;
    height: 304px;
    left: 124px;
    top: 1065px;

    background: #1971C2;
    border-radius: 10px;
}

.empresas-banner>h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    color: #FFFFFF;
}

.empresas-banner>button {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    width: 203px;
    height: 50px;
    left: 754px;
    top: 124px;

    background: #FFFFFF;
    color: #1971C2;
    border: 0;
    border-radius: 40px
}

/* SOBRE SECTION */
.sobre {
    align-items: center;
    margin-top: -350px;
    padding-top: 350px;
    background: #F0F9FF;

}

.sobre-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 120px;
    padding: 0 200px;
    margin-bottom: 200px;

}

.sobre-img {
    width: 40%;
}

.sobre-text>h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #1971C2;

    margin-bottom: 10px;
}

.sobre-text>h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    color: #061800;
    margin-bottom: 24px;
}

.sobre-text>p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #384633;
    margin-bottom: 32px;
}

.sobre-text>button {
    width: 213px;
    height: 50px;
    left: 669px;
    top: 666px;

    color: #ffffff;
    background: #1971C2;
    border-radius: 40px;
    border: none;
}

/* CONTATO SECTION */
.contato {
    display: block;
    margin: 0 auto;

    width: 1366px;
    height: 699px;
    left: 0px;
    top: 3864px;

    background: #FFFFFF;
}

.contato-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contato-text>h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    color: #061800;

    margin-bottom: 40px;
}

.contato-text>span {
    width: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #384633;
}

.contato-text>button {
    width: 213px;
    height: 50px;
    left: 123px;
    top: 446px;

    border: none;
    color: #FFFFFF;
    background: #1971C2;
    border-radius: 40px;

    margin-top: 40px;
}

.contato-img {
    width: 50%;
    width: 575px;
    height: 379px;
}

.contato-detail {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* RODAPE SECTION */
.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 124px;
    height: 268px;
    left: 0px;
    top: 4563px;

    background: #1971C2;
}

.rodape-text {
    display: flex;
    flex-direction: column;

    color: #FFFFFF;
}

.rodape-text>h1 {
    margin-bottom: 15px;
    font-weight: 100;
}

.footer-dev {
    font-weight: 700;
}

.rodape-text>span{
    margin-bottom: 15px;
}

.rodape-img>img{
    margin-right: 15px;
}